global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - 'alerts/*.yml'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'localhost:9090' ]

  - job_name: 'alertmanager'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'alertmanager:9093' ]

  - job_name: node
    static_configs:
      - targets:
          - node_exporter:9100
          - 192.168.1.126:9100
          - vmpx15.polytech.hs.ozeliurs.com:9100
          - kalivku35.sdn.hs.ozeliurs.com:9100
          - n1.ozeliurs.gmail.com.hs.ozeliurs.com:9100
          - basalt.ozeliurs.gmail.com.hs.ozeliurs.com:9100
          # - 192.168.1.71:9100

  - job_name: 'cadvisor'
    static_configs:
      - targets:
          - n1.ozeliurs.gmail.com.hs.ozeliurs.com:8080

  - job_name: 'kasa'
    scrape_interval: 5s
    scrape_timeout: 2s
    static_configs:
      - targets:
          - 192.168.1.61
          - 192.168.1.30
          - 192.168.1.170
          - 192.168.1.42
    metrics_path: /scrape
    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: __param_target
      - source_labels: [ __param_target ]
        target_label: instance
      - target_label: __address__
        replacement: kasa-exporter:80

  - job_name: 'pve'
    static_configs:
      - targets:
          - 192.168.1.96
          - 192.168.1.169
    metrics_path: /pve
    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: __param_target
      - source_labels: [ __param_target ]
        target_label: instance
      - target_label: __address__
        replacement: pve-exporter:9221  # PVE exporter.

  - job_name: 'pushgateway'
    scrape_interval: 5s
    honor_labels: true
    static_configs:
      - targets: [ 'pushgateway:9091' ]

  - job_name: 'freebox'
    scrape_interval: 30s
    static_configs:
      - targets: [ 'freebox-exporter:9091' ]

  - job_name: 'redis_exporter_targets'
    scrape_interval: 5s
    static_configs:
      - targets:
          - redis://fbx.ozeliurs.com:6379
    metrics_path: /scrape
    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: __param_target
      - source_labels: [ __param_target ]
        target_label: instance
      - target_label: __address__
        replacement: redis-exporter:9121

  - job_name: 'postgres'
    static_configs:
      - targets:
          - postgresql-exporter:9187

  - job_name: 'headscale'
    scrape_interval: 15s
    metrics_path: '/metrics'
    static_configs:
      - targets:
          - headscale-exporter:8000
          - headscale-exporter-apoo:8000

  #- job_name: 'nginx'
  #  static_configs:
  #    - targets:
  #        - nginx-exporter:9113

  - job_name: 'nginx-logs'
    scrape_interval: 5s
    static_configs:
      - targets:
          - 192.168.1.201:5000

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
            - "alertmanager:9093"
